{% if approvalData %}
    {% for approval in approvalData %}
    <table cellspacing="0" cellpadding="5" border="1" class="table grid-tab" width="100%" style="font-family: Arial, Helvetica, sans-serif; text-align: left;">
                            
            <tr><th>Trial No.</th><td>{{ approval.trial.trial_number }}</td></tr>
          
            <tr><th>Level</th><td>{{ approval.approved_level }}</td></tr>
            
            <tr> <th>Recommendations</th><td>{{ approval.comments }}</td></tr>
            
            <tr><th>Approval <br>Status</th>{% if approval.status == 1 %}
                <td>{{ "Approved" }}</td>
                {% endif %}
                {% if approval.status == 2 %}
                <td>{{ "Rejected" }}</td>
                {% endif %}
                </tr>
            <tr><th>Approved <br>Role</th><td>{{ approval.approved_role.name}}</td></tr>
            <tr><th>Approved <br>By</th><td>{{ approval.approved_by.first_name }} {{ approval.approved_by.last_name }}</td></tr>
        
      
    </table>
  {% endfor %}
    {% endif %}